# Konfigurasi Server Express
PORT=5000
NODE_ENV=development

# Konfigurasi Database MySQL / MariaDB
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nutrimeal_db
DB_PORT=3306

# Konfigurasi CORS (URL Frontend Next.js)
FRONTEND_URL=http://localhost:3000
